<!-- Loop over each object in the cards array -->
{{#each cards as |card| }}
<div class="row mb-4 card">
  <div class="col-md-5">
    <h2>
      <a href="/card/{{card.id}}">{{card.name}}</a>
    </h2>
    <p>
        Lorem Ipsum
    </p>
    <p>Created by {{card.user.name}} on {{timestamp}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{card.description}}
    </p>
  </div>
</div>
{{/each}}